<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASPPatterns.Chap3.Layered.Repository.Properties.Settings.ShopConnectionString"
            connectionString="Data Source=DESKTOP-8S46LAE\SQLEXPRESS;Initial Catalog=ASPPatterns.Chap3.SHOP;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>